{{> header}}

<!-- En-tête principal -->
<div class="container-fluid m-2 p-5 bg-primary text-white text-center">
    <h1>Les Marvels</h1>
</div>

<!-- Sous-titre -->
<div class="container m-2 p-5 bg-primary text-white text-center">
    <h2>Mes comics</h2>
</div>

<!-- Section des personnages -->
<div class="container mt-4">
    <div class="row">
        {{#each characters}}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg">
                <img src="{{this.imageUrl}}" class="card-img-top" alt="{{this.name}}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}
